# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
*.egg-info/
.installed.cfg
*.egg

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and databases
logs/
*.log
config/*.db
config/*.db-wal
config/*.db-shm
config/temp/

# PyCharm / VS Code / IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS
Thumbs.db
Desktop.ini
.DS_Store
